<%= form_with model: @idea, local: true do |f|%>
  <div class="field">
    <%= f.label :hoge, "タイトル" %><br />
    <%= f.text_field :hoge, id:"prototype_title" %>
  </div>

  <div class="field">
    <%= f.label :hoge, "カテゴリー" %><br />
    <%= f.text_area :hoge, class: :form__text, id:"prototype_catch_copy" %>
  </div>

  <div class="field">
    <%= f.label :hoge, "アイデアの詳細" %><br />
    <%= f.text_area :hoge, class: :form__text, id:"prototype_concept" %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>