<main class="main">
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("logo2.png", class: :logo), root_path %>
          </div>

          <% if user_signed_in? %>
             <div class="nav__right">
               <%= link_to "New idea", new_idea_path, class: :nav__btn %>
               <%= link_to "#{current_user.nickname}", "/", class: :nav__btn %>
               <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: :nav__logout %>
             </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
  <div class="inner">
    <% if user_signed_in?%>
      <div class="greeting">
        <%= "投稿されたアイデア"%>
      </div>
    <% end %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
    </div>
  </div>
</main>
